<div class="modal-header">
    <h3 class="modal-title">
        Create Note
    </h3>
</div>
<div class="modal-body">
    <form ng-submit="createNote()">
        <fieldset>
            <div class="form-group">
                <label>
                    Title:
                    <input type="text" class="form-control" ng-model="new_note.title" required>
                </label>
            </div>
            <div class="form-group">
                <label>
                    Note Content:
                </label>
                <textarea ng-model="new_note.content" froala></textarea>
            </div>
            <div>
                <button class="btn btn-default" type="submit">
                    Submit
                </button>
                <button ng-click="$dismiss()" class="btn btn-default" type="button">
                    Cancel
                </button>
                <p class="text-success" ng-show="msg">
                    {{msg}}
                </p>
            </div>
        </fieldset>
    </form>
</div>