body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #1b2838;
}

* {
    padding: 0;
    margin: 0;
}

div {
    display: block;
}

#global_header {
    background: #171a21;
    min-width: 940px;
    font-weight: normal;
    font-size: 14px;
    background-position: center top;
}

div #global_header {
    padding-left: 16px;
    padding-right: 16px;
}

div #global_header, .content {
    position: relative;
    width: 940px;
    height: 104px;
    margin: 0px auto;
    z-index: 402;
    background: #171a21;
    padding: 0;
}

div #global_header, .logo {
    display: inline-block;
    margin-right: 15px;
    height: 100%;
}

a {
    text-decoration: none;
    color: #ffffff;
}

img {
    border: none;
    width: 80px;
    height: 80px;
    padding: 2px;
    margin: 0;
}

.content button {
    position: relative;
    padding: 45px 7px 7px;
    height: 100%;
    line-height: 16px;
    font-size: 14px;
    margin-left: -4px;
    border: 0;
    border-radius: 0;
    color: #b8b6b4;
    text-transform: uppercase;
    background-color: transparent;
}

i {
    color: #0f0f0f;
}

/*# sourceMappingURL=style.css.map */