<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <!-- Froala Editor -->
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/froala_editor.pkgd.min.css">
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/froala_style.min.css">
    <script src="bower_components/froala-wysiwyg-editor/js/froala_editor.pkgd.min.js"></script>
    <script src="bower_components/angular-froala/src/angular-froala.js"></script>
</head>
<body ng-app="app" ng-cloak ng-controller="appController">
<div id="global_header">
    <div class="content" style="height: 80px;">
        <div class="logo">
    <span id="logo_holder">
      <a href="http://localhost:3000">
        <img src="note.png">
      </a>
    </span>
        </div>
        <div style="display: inline-block;">
            <button class="btn btn-default" ng-click="refreshNotes()">
                Refresh
            </button>
            <button class="btn btn-default" ng-click="createNote()">
                Create Note
            </button>
        </div>
    </div>
</div>

<p class="text-danger" ng-show="err">
    {{err}}
</p>

<br>
<div class="row">
    <div class="col-sm-4" ng-repeat="note in notes">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="panel-title">
                    {{note.title}}
                </span>
                <div class="pull-right">
                    <a ng-click="editNote(note)"><i class="fa fa-pencil-square-o"></i></a>
                    <a ng-click="removeNote(note)"><i class="fa fa-close"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <p ng-bind-html="note.content"></p>
            </div>
        </div>
    </div>
</div>

<!-- Angular App -->
<script src="js/app.js"></script>
<script src="js/controllers/appCtrl.js"></script>
<script src="js/controllers/editNoteCtrl.js"></script>
<script src="js/controllers/createNoteCtrl.js"></script>

</body>
</html>